#footer {
    background: var(--gray);
    border-top: var(--small-border) #CCCCCC;
}

.footer {
    width: 85vw;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer img {
    width: 150px;
}

footer .footer-links-github {
    display: flex;
    flex-direction: column;
}

footer .footer-links-github a {
    margin: 5px 0;
}